

body {
    font-family: 'Poppins', sans-serif;
}

.card-custom {
    margin: 29px;
    /* separa cada tarjeta de las demás */
}

.dark-img{
    background-image: url('./assets/foto-bosque.jpg');
}
.light-img{
    background-image: url('./assets/foto-cielo.jpg');
}