nav{
    background-color: blue;
}
section{
    background-color: greenyellow;
    height: 500px;
    display: flex;
    justify-content: center;
    
}

body {
    font-family: 'Poppins', sans-serif;
}